*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(228, 228, 228, 0.795);

}

h1 {
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.603);
    font-size: 45px;
}

form  {
    margin-top: 20px;
}

input {

    width: 40vw;
    height: 50px;
    background: transparent;
    border: 0.5px solid rgba(0, 0, 0, 0.11);
    font-size: 25px;
    padding: 5px 15px;
    box-sizing: border-box;
    font-family: monospace;
    color: rgba(0, 0, 0, 0.76);
    text-align: center;

}

input:focus {
    outline: none;

}

::placeholder {
    color:rgba(0, 0, 0, 0.781);


}

input:focus::placeholder{
    color: transparent;

}



.btnWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-check-circle{
    color: black;
}


i{
    margin-left: 15px;
    font-size: 25px;
}

.fa-check-circle:hover{
    color:rgb(0, 211, 53);
    transform: rotate(30deg) scale(1.2);



}

.fa-trash-alt:hover{
    color: rgba(211, 0, 42, 0.815);
    transform: rotate(20deg);
}




ul {
    margin-top: 20px;
}

li{
    box-sizing: border-box;
    background-color: rgba(146, 255, 82, 0.63);
    list-style-type: none;
    font-size: 30px;
    margin-bottom: 10px;
    padding: 5px 15px;
    display: flex;
    width: 40vw;




}


.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    color: black;
    width: 50vw;
}


.ticked{
    text-decoration: line-through;


}

.opacity{
    opacity: 0.3;

}

.hide{
    display: none;
}




@media only screen and (max-width: 900px) {
    input, li{
        width: 80vw;
        font-size: 20px;
        font-weight: 800;
        font-family: monospace;
    }

    i{
        font-size: 20px;
        margin-left: 25px;
    }

    .fa-check-circle:hover{

        transform: none;



    }


  }